<div class="page-container">
  <div class="page-header">
    <ng-container *ngIf="files$ | async as files">
      <h1 class="page-title">{{ files.length }} files</h1>
    </ng-container>
    <button class="upload-button" (click)="openUploadModal()">Upload file</button>
  </div>
  
  <div class="table-wrapper">
    <table class="files-table">
      <thead>
        <tr>
          <th>File</th>
          <th>Name</th>
          <th>Description</th>
          <th>Valid</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngIf="files$ | async as files">
          <tr *ngFor="let file of getPagedFiles(files)">
            <app-file-list-item [file]="file" (delete)="confirmDelete($event)"></app-file-list-item>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>

  <!-- Pagination -->
  <div class="pagination-wrapper">
    <div class="pagination" *ngIf="files$ | async as files">
      <button class="page-button prev" (click)="setPage(page - 1, files)" [disabled]="page === 1">&lt;</button>
      <button class="btn btn-primary page-button number" *ngFor="let p of [].constructor(totalPages(files)); let i = index" 
              [class.active]="page === i + 1" (click)="setPage(i + 1, files)">{{ i + 1 }}</button>
      <button class="page-button next" (click)="setPage(page + 1, files)" [disabled]="page === totalPages(files)">&gt;</button>
    </div>
  </div>
</div>
<app-file-upload-modal *ngIf="showUploadModal()" (close)="closeUploadModal()"></app-file-upload-modal>

<app-confirm-delete-modal
  *ngIf="showDeleteModal() && fileToDelete"
  [filename]="fileToDelete.filename"
  (confirm)="onDeleteConfirm()"
  (cancel)="onDeleteCancel()"
></app-confirm-delete-modal>
